[submodule "riv"]
	path = riv
	url = https://github.com/Rykka/riv.vim.git
[submodule "delimitMate"]
	path = delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pytest.vim"]
	path = pytest.vim
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "python-mode"]
	path = python-mode
	url = https://github.com/klen/python-mode
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim-tmux-navigator"]
	path = vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "jshint.vim"]
	path = jshint.vim
	url = https://github.com/walm/jshint.vim
[submodule "vim-bundle-mako"]
	path = vim-bundle-mako
	url = https://github.com/sophacles/vim-bundle-mako.git
[submodule "ag.vim"]
	path = ag.vim
	url = https://github.com/rking/ag.vim
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround
